<template>
 <div id="app">
   {{greetings}}
   <div id="content">
    <el-input placeholder="Please input greetings" v-model="greetings"></el-input>
    <el-button @click="greetings = ''">Button</el-button>
   </div>
 </div>
</template>

<script>
 export default {
   name: 'App',
   components: {},
   data () {
    return {
            greetings:"Hello there"
        }
   },
   created () {
   }
 }
</script>

<style lang="scss">
    @import "@/style/app.scss";
</style>

